<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>

    {{>404}}
    <a href="/">Index</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</body>

</html>